<header class="header">
  <div class="logo-text">FuelTrack</div>
  <div class="auth-buttons">
    <button class="register-btn" routerLink="/register">Registrarse</button>
  </div>
</header>

<div class="login-container">
  <div class="login-card">
    <img src="assets/logo-fueltrack.png" alt="FuelTrack Logo" class="logo-img"/>

    <h2>
      {{
        isClient ? "Inicio de sesión de cliente" : "Inicio de sesión de proveedor"
      }}
    </h2>

    <form>
      <ng-container *ngIf="!isClient">
        <input
          type="text"
          [(ngModel)]="ruc"
          name="ruc"
          placeholder="RUC Number"
          required
          pattern="\\d{11}"
        />
      </ng-container>

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email Address"
        required
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
      <div *ngIf="error" class="error">{{ error }}</div>
      <button type="button" (click)="login()" [disabled]="loading">
        {{ loading ? 'Iniciando...' : 'Iniciar sesión' }}
      </button>
    </form>

    <p class="register">
      {{ isClient ? "No es un cliente?" : "No es un proveedor?" }}
      <a href="#" (click)="toggleLogin(); $event.preventDefault()"
      >Click aqui</a
      >
    </p>
  </div>
</div>
