.sidenav-container {
  height: 100vh;
}
.sidenav {
  width: 200px;
  background-color: #f3f4f6;
}
.logo-container {
  padding: 16px;
  display: flex;
  justify-content: center;
}
.logo-img {
  width: 120px;
}
.content {
  padding: 24px;
}

mat-nav-list a.mat-list-item mat-icon {
  margin-right: 12px;
}

.nav-label {
  font-size: 14px;
}
