<mat-sidenav-container
  class="sidenav-container"
  [ngClass]="{ 'client-theme': userType == 'client', 'supplier-theme': userType == 'supplier' }">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <img src="assets/logo-fueltrack.png" alt="FuelTrack logo" class="logo-img" />
    </div>
    <mat-nav-list class="nav-items-container">
      <a mat-list-item *ngFor="let item of navItems"
         [routerLink]="item.route"
         [ngClass]="{ 'nav-item': true, 'active': isActive(item.route) }">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="nav-label">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
